.cb-rates {
  display: flex;
  flex-direction: column;
  padding: var(--cb-padding-container);
  gap: var(--cb-gap-container);
  max-width: 100%;
}

.cb-rates span {
  gap: var(--cb-gap-container);
  max-width: 100%;
  border-radius: var(--cb-radius-general);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Columnas que hacen wrap automáticamente */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-template-rows: repeat(1, 1fr); */
  grid-gap: 20px;
}

.cb-rates span article {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* margin-right: 20px; */
  padding: var(--cb-padding-card);
  /* gap: var(--cb-gap-card); */
  gap: 10px;
  max-width: 100%;
  background-color: white;
  box-shadow: inset 0px 0px 3px var(--cb-color-grey);
  border-radius: var(--cb-radius-general);
  /* Estilamos el texto */
  color: var(--cb-color-black);
  font-family: var(--cb-typography-paragraph);
  font-size: var(--cb-typography-p);
  font-weight: var(--cb-weight-p);
  line-height: var(--cb-typography-p-leading);
  align-items: center
}

.cb-rates span article h3 {
  border-bottom: 2px solid var(--cb-color-black);
}

.cb-rates-monthly {
  grid-row: span 2;
}

.cb-rates-table {
  /* gap: 10px; */
  text-align: justify;
}

.cb-rates-table thead tr,
.cb-rates-table tbody tr {
  display: flex;
  gap: var(--cb-gap-card);
  justify-content: space-between;
}

.cb-rates-table thead tr,
.cb-rates-table tbody tr td {
  display: flex;
  margin: 10px;
  /* justify-content: space-between; */
  align-items: center;
}

.cb-rates-table tbody tr td:last-child,
.cb-fee p {
  /* color: aliceblue; */
  background-color: var(--cb-color-yellow);
  background-color:var(--cb-color-pastel-yellow);
  padding: 5px;
  width: min-content;
  height: min-content;
  border-radius: var(--cb-radius-general);
  /* font-weight: 500; */
  border-bottom: 1px solid var(--cb-color-yellow);
}

.cb-rates-child {
  border-top: 1px solid var(--cb-color-black);
}

.cb-rates-enrollment {
  font-style: italic;
}

.cb-fee {
  /* display: flex;
    flex-basis: 100%;
    margin-right: 0; */
  /* grid-column: span 2; */
}

/* REST DISPLAY */
@media screen and (max-width: 768px) {
  .cb-rates span {
    /* Columnas que hacen wrap automáticamente */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
