/* ✅ */
/* Diseños generales, con el z-index conseguimos ocultar el botón whatsApp */
.cb-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: var(--cb-padding-container);
  background-image: url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1695466572/Ceres%20Box/ring_xaqqi1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}

/* Se aplica el filtro para mejorar la visualización */
.cb-hero-logo {
  width: var(--cb-img-enormous);
  filter: drop-shadow(0 0 8px var(--cb-color-black));
}

/* Estilos específicos del texto principal */
.cb-hero-description {
  font-size: 80px;
  font-weight: var(--cb-typography-weight-500);
  -webkit-text-stroke: var(--cb-text-stroke-white);
  color: var(--cb-color-white);
  filter: drop-shadow(0 0 8px var(--cb-color-yellow));
  max-width: 90%;
}

/* Estilos específicos del CTA */
.cb-hero-CTA {
  text-align: center;
  background-color: var(--cb-color-yellow);
  padding: var(--cb-padding-cta);
  border-radius: var(--cb-radius-general);
}

/* Se aplica el filtro para mejorar la visualización */
.cb-hero-next {
  width: var(--cb-img-small);
  /* filter: drop-shadow(0 0 8px var(--cb-color-black)); */
}

.cb-hero-mouse-move {
  position: absolute;
  max-width: var(--cb-img-medium);
  bottom: 30px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: mouse-move 2s linear infinite;
}

@keyframes mouse-move {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  12.5%,
  37.5% {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(8px);
  }
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  .cb-hero-description {
    font-size: calc(var(--cb-typography-h1));
  }

  /* 
    .cb-section-hero {
      min-height: 100vh;
    }
  
    .cb-hero-logo {
      width: %;
    }
  
    .cb-hero-description {
      font-size: calc(var(--cb-typography-size-extra) - 1rem);
      font-weight: var(--cb-typography-weight-500);
    }
  
    .cb-hero-CTA {
      font-size: calc(var(--cb-typography-size-h3) - 0.1rem);
    }
  
    .cb-hero-next {
      width: calc(var(--cb-width-small) - 0.25rem);
    }*/
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  .cb-hero-logo {
    margin-top: 80px;
    width: calc(var(--cb-img-enormous) - 10%);
  }

  .cb-hero-description {
    font-size: calc(var(--cb-typography-h1));
  }

  /*
    .cb-hero-CTA {
      font-size: calc(var(--cb-typography-size-h3) - 0.2rem);
    } */

  /* .cb-hero-next {
      width: calc(var(--cb-img-small) - 10%);
    } */
}
