/* Diseños generales, con el z-index conseguimos ocultar el botón whatsApp */
.cb-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: var(--cb-padding-container);
  background-image: url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1695466572/Ceres%20Box/ring_xaqqi1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}

/* Se aplica el filtro para mejorar la visualización */
.cb-hero-logo {
  width: 170px;
  filter: drop-shadow(0 0 8px var(--cb-color-black));
}

/* Estilos específicos del texto principal */
.cb-hero-description {
  font-size: 110px;
  filter: drop-shadow(0 0 4px var(--cb-color-yellow));
  -webkit-text-stroke: var(--cb-text-stroke-white);
  color: transparent;
}

/* Estilos específicos del CTA */
.cb-hero-CTA {
  text-align: center;
  background-color: var(--cb-color-yellow);
  padding: var(--cb-padding-cta);
  border-radius: var(--cb-radius-general);
}

/* Estilos para el ratón móvil */
.cb-hero-mouse-move {
  position: absolute;
  max-width: var(--cb-img-medium);
  bottom: 20px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: mouse-move 2s linear infinite;
}

/* Estilos para el efecto de movimiento del ratón */
@keyframes mouse-move {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  12.5%,
  37.5% {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(8px);
  }
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Hacemos zoom en vez de reducir los tamaños uno por uno */
  .cb-hero img,
  .cb-hero h1,
  .cb-hero a {
    zoom: 85%;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Aplicamos un zoom mayor*/
  .cb-hero img,
  .cb-hero h1,
  .cb-hero a {
    zoom: 80%;
  }

  /* Debido al espacio extra de la navbar, se aumenta el margen */
  .cb-hero-logo {
    margin-top: 80px;
  }

  /* Se reduce el tamaño de la fuente */
  .cb-hero-description {
    font-size: 85px;
  }
}
