/* Estilos para repartir la sección de club */
.cb-club-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vh;
  gap: 30px;
}

/* Estilos para el apartado del título */
.cb-club-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  gap: var(--cb-gap-container);
}

/* Estilo del título */
.cb-club-title h2 {
  font-family: var(--cb-typography-heading);
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--cb-color-white-light);
  filter: drop-shadow(0 0 7px var(--cb-color-yellow));
}

/* Realizamos la ordenación del contenido de las letras y ring */
.cb-club-title h2:last-child {
  z-index: 2; /* El último párrafo estará al frente */
}

/* Estilo de la imagen del ring */
.cb-club-title img {
  position: absolute;
  width: 350px;
  height: fit-content;
  /* left: 50%; */
  right: 0%;
  z-index: 1;
}

/* Estilo del eslogan */
.cb-club-slogan {
  /* background-color: var(--cb-color-yellow); */
  /* padding: 10px; */
  display: none;
  border-radius: var(--cb-radius-general);
  text-align: center;
  font-family: var(--cb-typography-logo);
}

.cb-club-reasons {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 50vh;
  gap: var(--cb-gap-container);
}

.cb-club-reasons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
}

.cb-club-reason {
  width: fit-content;
  text-align: center;
  height: min-content;
  background-color: var(--cb-color-white-light);
  box-shadow: inset 0px 0px 3px var(--cb-color-grey);
  padding: var(--cb-padding-cta);
  padding: 10px;
  border-radius: var(--cb-radius-general);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cb-club-reason-title {
  white-space: nowrap;
}

.cb-club-reason-title::after {
  content: url('');
  font-size: var(--cb-typography-p);
}

.cb-club-reason-card {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  width: 350px;
  padding: var(--cb-gap-card);
  transform: translate(-15%, 0%);
  border-radius: var(--cb-radius-general);
  background-color: var(--cb-color-white-light);
  box-shadow: inset 0px 0px 3px var(--cb-color-grey);
}

.cb-club-reason-card p:first-child {
  width: min-content;
  gap: var(--cb-gap-card);
  font-weight: var(--cb-weight-h3);
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 2px solid var(--cb-color-yellow);
}

.cb-club-reason-card p:last-child {
  padding-top: 10px;
}

/* El efecto hover */
.cb-club-reason:hover {
  /* background-color: lightgray; */
  transform: translatey(10px);
  transform: scale(1.1);
  transition: all 0.3s;
}

.cb-club-reason:hover .cb-club-reason-card {
  display: flex;
  /* width: fit-content; */
  /* position: fixed; */
}

.cb-club-city {
  font-weight: var(--cb-weight-p);
  font-style: italic;
}

.cb-club-federation {
  display: flex;
}

.cb-club-federation img {
  width: 100px;
}

/* REST DISPLAY */
@media screen and (max-width: 768px) {
  /* Cambiamos las propiedades para el efecto visual buscando en la sección */
  .cb-club-section {
    width: 100%;
    align-items: center;
  }

  /* Estilo de la imagen del ring */
  .cb-club-title img {
    /* left: 30%; */
    margin: auto;
    /* transform: translateX(-50%); */
  }

  .cb-club-title {
    flex-direction: column;
    justify-content: center;
    /* max-width: 50%; */
    font-size: 70px;
  }

  /* Centramos los elementos de la lista */
  .cb-club-reasons-list {
    justify-content: center;
  }

  .cb-club-reason-card {
    /* top: 100%; */
    /* left: -50%; */
    /* transform: translate(-10%, -50%); */
    /* width: 350px; */
    /* height: fit-content; */
    /* padding: 10px; */
    width: 250px;
    zoom: 80%;
  }
}
