.cb-club {
  background-image: url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1697285740/Ceres%20Box/ring_background_eptqzx.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 450px 200px;
}

/* Estilo del logo */
.cb-club-title {
  font-family: var(--cb-typography-logo);
  font-weight: 600;
  font-size: var(--cb-typography-h1);
  font-size: 90px;
  -webkit-text-stroke: var(--cb-text-stroke--black);
  color: var(--cb-color-transparent);
}

/* Estilo del eslogan */
.cb-club-slogan {
  /* background-color: var(--cb-color-yellow); */
  /* padding: 10px; */
  display: none;
  border-radius: var(--cb-radius-general);
  text-align: center;
  font-family: var(--cb-typography-logo);
}

.cb-club-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vh;
  gap: 30px;
}

.cb-club-reasons {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 50vh;
  gap: var(--cb-gap-container);
}

.cb-club-reasons-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.cb-club-reason{
  width: fit-content;
  text-align: center;
  height: min-content;
  /* background-color: var(--cb-color-yellow); */
  /* border: 1px solid black; */
  background-color: var(--cb-color-white-light);
  box-shadow: inset 0px 0px 3px var(--cb-color-grey);
  padding: var(--cb-padding-cta);
  padding: 10px;
  border-radius: var(--cb-radius-general);
  justify-content: center;
  display:flex;
  flex-direction: column;
}

.cb-club-reason-title {
  white-space: nowrap;
}

.cb-club-reason-title::after {
  content: url('');
  font-size: var(--cb-typography-p);
}

.cb-club-reason-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  /* transform: translate(-10%, -50%); */
  width: 500px;
  height: fit-content;
  background-color: white;
  /* border: solid black; */
  padding: 10px;
  background-color: var(--cb-color-white-light);
  box-shadow: inset 0px 0px 3px var(--cb-color-grey);
}

/* El efecto hover */
.cb-club-reason:hover {
  /* background-color: lightgray; */
  transform: translatey(10px);
  transition: all 0.3s;
}

.cb-club-reason:hover .cb-club-reason-description {
  display: block;
}

.cb-club-city {
  font-weight: var(--cb-weight-p);
  font-style: italic;
}

.cb-club-federation {
  display: flex;
}

.cb-club-federation img {
  width: 100px;
}
