.visible {
  background-color: var(--cb-color-black);
}

/* Diseños específicos del header */
.cb-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  top: 0%;
  z-index: 5;
  text-transform: uppercase;
  /* Con lo siguiente preparamos la invisible navbar junto con JS */
  transition: background-color 0.3s ease-in-out;
  padding: var(--cb-padding-card);
}

/* Diseños para poner el nombre del logo hueco */
.cb-header-logo {
  font-family: var(--cb-typography-heading);
  color: var(--cb-color-white);
}

/* Diseño para quitar la hamburguesa, estamos en desktop first */
.cb-hamburguer-label,
.cb-hamburguer {
  display: none;
}

.cb-hamburguer-label {
  color: var(--cb-color-white);
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 90;
}

/* Diseños para la navbar en desktop */
.cb-navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--cb-gap-container);
  color: var(--cb-color-yellow);
  padding: 0;
}

.cb-navbar-list a {
  font-weight: var(--cb-typography-weight-p);
  font-family: var(--cb-typography-body);
  color: var(--cb-color-white);
}

.cb-navbar a {
  transition: all cubic-bezier(0.75, 5, 0.165, 1);
  /* -webkit-text-stroke: var(--cb-text-stroke-white); */
}

.cb-navbar a:hover {
  -webkit-text-stroke: var(--cb-text-stroke-white);
  color: transparent;
}

/* TABLET DISPLAY */
@media screen and (min-width: 376px) and (max-width: 768px) {
  /* Se cambia el display del header para adapatarlo a tablet */
  .cb-header {
    display: block;
    /* min-height: 5vh; */
    padding: var(--cb-padding-container);
  }

  /* Se centra el texto del logo */
  .cb-header-logo {
    text-align: center;
    margin: auto;
  }

  /* Se fija "a mano" la posición de la hamburguesa */
  .cb-hamburguer-label {
    display: block;
    position: absolute;
    top: 32px;
    right: 56px;
  }

  /* Por defecto la nav no se ve */
  .cb-navbar {
    display: none;
  }

  /* CHECKED -> Aparece la nav */
  .cb-hamburguer:checked + .cb-navbar {
    display: block;
    padding-top: var(--cb-padding-card);
  }

  /* Dirección de los items del nav */
  .cb-navbar-list {
    flex-direction: column;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Se cambia la dirección del header para adapatarlo a movil */
  .cb-header {
    flex-direction: column;
    gap: var(--cb-gap-container);
    padding: var(--cb-padding-container);
  }

  /* Se fija la posición de la hamburguesa */
  .cb-hamburguer-label {
    display: inline-block;
  }

  /* Por defecto la nav no se ve */
  .cb-navbar {
    display: none;
  }

  /* CHECKED -> Aparece la nav */
  .cb-hamburguer:checked ~ .cb-navbar {
    display: block;
  }

  /* Dirección de los items del nav */
  .cb-navbar-list {
    flex-direction: column;
  }
}
