.cb-footer {
    background-color: var(--cb-color-black);
}

/* ✅ */
/* Estilos generales */
.bc__section__footer {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: var(--bc__height--footer);
    padding: var(--bc__padding--big);
    gap: var(--bc__gap--small);
    font-size: var(--bc__typography--size--footer);
    font-weight: var(--bc__typography--weight--300);
    color: var(--bc__color--yellow);
    background-image: url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1677605856/ceres-box/footer_zwwxpn.png);
    background-color: var(--bc__color--white);
    background-size: cover;
    background-position-x: center;
  }
  
  /* Estilos específicos sobre la info del gym */
  .bc__footer__web {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.3rem;
    gap: var(--bc__gap--small);
    border-bottom: var(--bc__color--yellow) 0.1rem solid;
  }
  
  /* Estilos individuales de los grupos ubicación, teléfono e instagram */
  .bc__footer__location,
  .bc__contact__phone,
  .bc__contact__instagram {
    flex-direction: row;
    gap: var(--bc__gap--small);
  }
  
  /* Dirección del texto en desktop first */
  .bc__location__address {
    text-align: right;
  }
  
  /* Estilo del texto Kike de Manuel */
  .bc__slogan__boxer {
    text-align: center;
    font-size: var(--bc__typography--size--h3);
    -webkit-text-stroke: var(--bc__text__stroke--yellow);
    color: var(--bc__color--transparent);
  }
  
  /* Estilo del eslogan */
  .bc__slogan__text {
    background-color: var(--bc__color--yellow);
    color: var(--bc__color--black);
    padding: var(--bc__padding--small);
    border-radius: var(--bc__border__radius--small);
    text-align: center;
    font-family: var(--bc__typography--family--logo);
  }
  
  /* Padding de los iconos del footer */
  .bc__contact__phone,
  .bc__footer__location,
  .bc__contact__instagram,
  .bc__social__linkedin,
  .bc__social__github {
    padding: var(--bc__padding--small);
  }
  
  /* TABLET DISPLAY */
  @media screen and (min-width: 23.5rem) and (max-width: 48rem) {
    /* ✅ */
    /* Se cambia el display del footer para adapatarlo a tablet */
    .bc__footer__web {
      display: flex;
      flex-direction: column;
      margin: var(--bc__margin--small);
    }
  
    /* Estilos específicos de los grupos del footer */
  
    .bc__footer__location {
      flex-direction: column-reverse;
      text-align: center;
      order: 1;
      margin-top: var(--bc__margin--small);
    }
  
    .bc__footer__contact {
      display: flex;
    }
  
    .bc__location__address {
      text-align: center;
    }
  
    /* Se establece el order para que prevalezca en la parte superior el eslogan */
    .bc__footer__slogan {
      order: 0;
    }
  
    .bc__footer__contact {
      order: 2;
    }
  
    .bc__contact__phone,
    .bc__contact__instagram {
      flex-direction: column;
      margin: var(--bc__margin--small);
    }
  }
  
  /* MOBILE DISPLAY */
  @media screen and (max-width: 23.5rem) {
    /* ✅ */
    /* Se cambia el display del footer para adapatarlo a movil */
    .bc__footer__web {
      display: flex;
      flex-direction: column;
      margin: var(--bc__margin--small);
    }
  
    /* Estilos específicos de los grupos del footer */
  
    .bc__footer__location {
      flex-direction: column-reverse;
      text-align: center;
      order: 1;
      margin-top: var(--bc__margin--small);
    }
  
    .bc__location__address {
      text-align: center;
    }
  
    /* Se establece el order para que prevalezca en la parte superior el eslogan */
    .bc__footer__slogan {
      order: 0;
    }
  
    .bc__footer__contact {
      order: 2;
    }
  
    .bc__contact__phone,
    .bc__contact__instagram {
      flex-direction: column;
      margin: var(--bc__margin--small);
    }
  }
  