/* Estilos generales */
.cb-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 40px;
  gap: 30px;
  background-color: var(--cb-color-black);
}

/* Estilos para el texto del footer */
.cb-footer p {
  color: var(--cb-color-yellow);
  font-size: 15px;
}

/* Estilos para las secciones */
.cb-footer-website {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* border-bottom: var(--cb-color-yellow) 1.6px solid; */
}

.cb-footer-website {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(1, 20fr 1fr 20fr); 
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

/* Damos un tamaño mínimo a la clase */
.cb-footer-company {
  min-width: 200px;
}

/* Estilos individuales de los grupos ubicación, teléfono e instagram */
.cb-footer-location,
.cb-footer-img {
  display: flex;
  align-items: center;
}

/* Dirección del texto de address en desktop first */
.cb-footer-location div p {
  text-align: right;
}

/* Estilo del logo */
.cb-company-name {
  font-family: var(--cb-typography-logo);
  font-size: var(--cb-typography-h3);
  -webkit-text-stroke: var(--cb-text-stroke-yellow);
  color: transparent;
}

/* Estilo del eslogan */
.cb-company-slogan {
  background-color: var(--cb-color-yellow);
  padding: 5px;
  border-radius: var(--cb-radius-general);
  text-align: center;
  font-family: var(--cb-typography-logo);
}

.cb-footer-designer p {
  font-size: 12px;
}

.cb-footer-designer p a {
  font-weight: 500;
  color: var(--cb-color-yellow);
}

.cb-footer-designer div {
  display: flex;
  justify-content: center;
}

.cb-footer-designer div img {
  width: 18px;
}

/* Padding de los iconos del footer */
.cb-footer-img,
.cb-contact-phone,
.cb-footer-location,
.cb-contact-instagram {
  padding: 8px;
  gap: 10px;
}

/* TABLET DISPLAY */
@media screen and (max-width: 48rem) {
  /* ✅ */
  /* Se cambia el display del footer para adapatarlo a tablet */
  .cb-footer-website {
    display: flex;
    flex-direction: column;
  }

  /* Estilos específicos de los grupos del footer */
  .cb-footer-location {
    flex-direction: column-reverse;
    text-align: center;
    order: 1;
  }

  .cb-footer-contact {
    display: flex;
  }

  .cb-footer-location div,
  .cb-footer-location div p {
    text-align: center;
  }

  /* Se establece el order para que prevalezca en la parte superior el ecompany */
  .cb-footer-company {
    order: 0;
    padding-bottom: 40px;
  }

  .cb-footer-contact {
    order: 2;
  }

  .cb-footer-img {
    flex-direction: column;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 23.5rem) {
  .cb-footer-contact {
    flex-direction: column;
  }
}
