/* Estilos generales */
.cb-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  gap: 40px;
  background-color: var(--cb-color-black);
}

/* Estilos para el texto del footer */
.cb-footer p {
  color: var(--cb-color-yellow);
  font-size: 14px;
}

/* Estilos para las secciones */
.cb-footer-website {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

/* Estilos para la parte de la web */
.cb-footer-website {
  display: grid;
  grid-template-columns: repeat(1, 20fr 1fr 20fr);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

/* Damos un tamaño mínimo a la clase */
.cb-footer-company {
  width: fit-content;
  white-space: nowrap;
  font-family: var(--cb-typography-heading);
}

/* Estilos individuales de los grupos ubicación, teléfono e instagram */
.cb-footer-location,
.cb-footer-img {
  display: flex;
  align-items: center;
}

/* Dirección del texto de address en desktop first */
.cb-footer-location div p {
  text-align: right;
}

/* Estilo del logo */
.cb-company-name {
  padding: 5px;
  font-family: var(--cb-typography-heading);
  font-size: 30px;
  letter-spacing: 2px;
  -webkit-text-stroke: var(--cb-text-stroke-yellow);
  color: transparent;
}

/* Estilo del eslogan */
.cb-company-slogan {
  padding: 10px;
  background-color: var(--cb-color-yellow);
  font-size: 25px;
  border-radius: var(--cb-radius-general);
  text-align: center;
  font-family: var(--cb-typography-heading);
}

/* Padding de los iconos del footer */
.cb-footer-img,
.cb-contact-phone,
.cb-footer-location,
.cb-contact-instagram {
  padding: 8px;
  gap: 10px;
}

/* Estilo para remacar el diseñador */
.cb-footer-designer {
  border-radius: 10px;
  width: fit-content;
  padding: var(--cb-padding-card);
  box-shadow: var(--cb-box-shadow-yellow);
  animation: rotateShadow 2s linear infinite;
}

/* Estilos para rotar el shadow */
@keyframes rotateShadow {
  0% {
    box-shadow: -5px 0 25px 0 rgba(255, 223, 0, 0.5);
  }
  25% {
    box-shadow: 0 -5px 25px 0 rgba(255, 223, 0, 0.5);
  }
  50% {
    box-shadow: 5px 0 25px 0 rgba(255, 223, 0, 0.5);
  }
  75% {
    box-shadow: 0 5px 25px 0 rgba(255, 223, 0, 0.5);
  }
  100% {
    box-shadow: -5px 0 25px 0 rgba(255, 223, 0, 0.5);
  }
}

/* Distribución de la parte del diseñador */
.cb-footer-designer div {
  display: flex;
  justify-content: center;
}

/* Tamaño de las imágenes del diseñador */
.cb-footer-designer div img {
  width: 18px;
}

/* Estilos para el texto del diseñador */
.cb-footer-designer p {
  font-size: 12px;
}

/* Estilos para el enlace */
.cb-footer-designer p a {
  font-weight: var(--cb-weight-h3);
  color: var(--cb-color-yellow);
}

/* REST DISPLAY */
@media screen and (max-width: 768px) {
  /* Se cambia el display del footer para adapatarlo a tablet */
  .cb-footer-website {
    display: flex;
    flex-direction: column;
  }

  /* Estilos específicos de los grupos del footer */
  .cb-footer-location {
    flex-direction: column-reverse;
    text-align: center;
    order: 1;
  }

  /* Cambiamos la distribución */
  .cb-footer-contact {
    display: flex;
  }

  /* Centramos los textos */
  .cb-footer-location div,
  .cb-footer-location div p {
    text-align: center;
  }

  /* Se establece el order para que prevalezca en la parte superior el ecompany */
  .cb-footer-company {
    order: 0;
    padding-bottom: 40px;
  }

  /* Cambiamos el orden de la visualización */
  .cb-footer-contact {
    order: 2;
  }

  /* Cambiamos el orden de las imágenes */
  .cb-footer-img {
    flex-direction: column;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 376px) {
  /* Cambiamos el orden de la información de contacto */
  .cb-footer-contact {
    flex-direction: column;
  }
}
