@font-face {
  font-family: 'Collegue'; /* Nombre de la fuente */
  src: url('College_Block_2.0.otf') format('opentype'); /* Ruta al archivo OTF */
  /* Puedes incluir más formatos de fuente si deseas agregar compatibilidad con navegadores diferentes */
}

:root {
  /* COLOR PALETTE */
  --cb-color-transparent: transparent;
  --cb-color-black: #191800;
  --cb-color-yellow: #dbd748;
  --cb-color-white: #f2f2f2;
  --cb-color-white-light: #fffffe;
  --cb-color-grey: #c3c6ce;
  --cb-color-grey-dark: #6e6e73;
  --cb-color-green-wp: #25d366;
  --cb-color-pastel-blue: #94d8ff;
  --cb-color-pastel-pink: #ff94d7;
  --cb-color-pastel-green: #94ffac;
  --cb-color-pastel-purple: #a094ff;
  --cb-color-pastel-yellow: #fdff94;
  --cb-color-pastel-orange: #ffc894;
  --cb-color-pastel-red: #ff9494;

  /* TYPOGRAPHY TYPE */
  --cb-typography-logo: 'Collegue', sans-serif;
  --cb-typography-heading: 'Antonio', sans-serif;
  --cb-typography-body: 'Rubik', sans-serif;
  --cb-typography-paragraph: 'Rubik', sans-serif;

  /* FONT WEIGHT */
  --cb-weight-h1: 700;
  --cb-weight-h2: 700;
  --cb-weight-h3: 500;
  --cb-weight-p: 300;

  /* FONT SIZE */
  --cb-typography-h1: 48px;
  --cb-typography-h2: 32px;
  --cb-typography-h3: 25px;
  --cb-typography-p: 16px;

  /* LEADING */
  --cb-typography-h1-leading: 1.2;
  --cb-typography-h2-leading: 1.2;
  --cb-typography-h3-leading: 1.2;
  --cb-typography-p-leading: 1.5;

  /* TEXT STROKE STYLE */
  --cb-text-stroke--white: 0.7px var(--cb-color-white);
  --cb-text-stroke--black: 0.64px var(--cb-color-black);
  --cb-text-stroke--yellow: 0.5px var(--cb-color-yellow);

  /* IMG SIZE */
  --cb-img-enormous: 180px;
  --cb-img-big: 80px;
  --cb-img-medium: 64px;
  --cb-img-small: 32px;
  --cb-img-mini: 16px;

  /* PADDING */
  --cb-padding-container: 30px;
  --cb-padding-card: 15px;
  --cb-padding-cta: 15px;

  /* GAP */
  --cb-gap-container: 20px;
  --cb-gap-card: 15px;
  --cb-gap-cta: 5px;

  /* BORDER RADIUS */
  --cb-radius-general: 5px;

  /* BORDER WIDTH */
  --cb-border-width-card: 2px;

  /* BORDER STYLE */
  /* --cb-border-card-style: var(--cb-border-width-card) solid var(--cb-color-blue);
  --cb-border-cta-style: var(--cb-border-width-card) solid var(--cb-color-blue);
  --cb-border-window-style: 4px solid var(--cb-color-blue-opaque);
  --cb-border-sudoku-blue: 1px solid var(--cb-color-blue);
  --cb-border-sudoku-green: 1px solid var(--cb-color-green); */
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  color: var(--cb-color-black);
  font-family: var(--cb-typography-heading);
  font-size: var(--cb-typography-h1);
  font-weight: var(--cb-weight-h1);
  text-transform: uppercase;
  line-height: var(--cb-typography-h1-leading);
}

h2 {
  color: var(--cb-color-black);
  font-family: var(--cb-typography-body);
  font-size: var(--cb-typography-h2);
  font-weight: var(--cb-weight-h2);
  line-height: var(--cb-typography-h2-leading);
}

h3 {
  color: var(--cb-color-black);
  font-family: var(--cb-typography-body);
  font-size: var(--cb-typography-h3);
  font-weight: var(--cb-weight-h3);
  line-height: var(--cb-typography-h3-leading);
}

p {
  color: var(--cb-color-black);
  font-family: var(--cb-typography-paragraph);
  font-size: var(--cb-typography-p);
  font-weight: var(--cb-weight-p);
  line-height: var(--cb-typography-p-leading);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; */
  /* Centramos el contenido del body */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* Damos estilos al background */
  /* background-color: var(--cb-color-white); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  list-style: none;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
  /* color: var(--cb-color-green);
  font-family: var(--cb-typography-body);
  font-size: var(--cb-typography-h3);
  font-weight: 300;
  line-height: var(--cb-typography-h3-leading); */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
