.cb-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  /* margin: auto; */
}

.cb-cards span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 120px;
  /* width: 1200px; */
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  flex: 1;
  border-radius: var(--cb-radius-general);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0 1px 7px 0 var(--cb-color-pastel-red);
  background-color: black;
}

.cb-card-hover {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 10px;
}

.cb-cards span:hover {
  flex: 4;
  /* transform: rotate(90deg); */
}

.cb-cards span:hover .cb-card-title {
  display: none;
  /* transform: rotate(90deg); */
}

.cb-cards span:hover .cb-card-hover {
  display: flex;
  /* transform: rotate(90deg); */
}

.cb-cards span p {
  padding: var(--cb-padding-card);

  letter-spacing: 2px;
  color: var(--cb-color-white);
  font-family: var(--cb-typography-body);
  font-size: var(--cb-typography-p);
}

.cb-card-title {
  min-width: 200px;
  transform: rotate(-90deg);
  font-weight: 500;
  backdrop-filter: blur(5px);
  height: 100%;
}

.cb-card-hover p {
  /* min-width: 200px;
  padding: var(--cb-padding-card);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--cb-color-white);
  font-family: var(--cb-typography-heading);
  font-size: 20px;
  font-style: italic;
  font-weight: 700; */
}

#cb-card-boxeo-educativo-infantil {
  /* background-position: 310px; */
  background-size: 450px;
}

#cb-card-only-woman {
  /* background-position: 230px; */
  background-size: 280px;
}

#cb-card-12-de-saco {
  background-position: -85px;
  /* background-position:  center center -150px; */
  background-size: 330px;
}

#cb-card-functional-boxing {
  background-size: 380px;
  backdrop-filter: 10px;
  backdrop-filter: blur(10px);
}

.cb-card-hover {
  backdrop-filter: blur(5px);
}

#cb-card-boxeo-recreativo {
  background-position: -120px;
  background-size: 440px;
}

#cb-card-boxeo-avanzado-y-competición {
  background-size: 320px;
}
