/* Estilos para distribuir las cards */
.cb-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

/* Estilos comunes para las cards */
.cb-cards span {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 120px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  transition:cubic-bezier(0.23, 1, 0.320, 1) 1s;
  border-radius: var(--cb-radius-general);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

/* Estilos de la card en hover */
.cb-card-hover {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 10px;
  backdrop-filter: blur(5px);
}

/* Estilos para hacer más grande la card en hover */
.cb-cards span:hover {
  flex: 4;
}

/* Estilos para quitar el título de la card */
.cb-cards span:hover .cb-card-title {
  display: none;
}

/* Estilos para aparecer el ampliamento de la card */
.cb-cards span:hover .cb-card-hover {
  display: flex;
}

/* Estilos comunes para el texto de las cards */
.cb-cards span p {
  padding: var(--cb-padding-card);
  color: var(--cb-color-white);
  font-family: var(--cb-typography-body);
  letter-spacing: 1.5px;
}

/* Estilo para el título de la card */
.cb-card-title {
  min-width: 200px;
  font-weight: var(--cb-weight-h3);
  transform: rotate(-90deg);
}

/* Estilos para el encabezado de la tarjeta en hover */
.cb-card-class {
  font-weight: var(--cb-weight-h3);
  filter: drop-shadow(0 0 7px var(--cb-color-pastel-red));
}

/* Estilos para el bloque de contacto */
.cb-card-contact {
  border-radius: var(--cb-border-width-card);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

/* Establecemos las posiciones de las imágenes */

#cb-card-boxeo-educativo-infantil {
  background-size: 450px;
}

#cb-card-only-woman {
  background-size: 280px;
}

#cb-card-12-de-saco {
  background-position: -67px;
  background-size: 660px;
}

#cb-card-functional-boxing {
  background-size: 380px;
  backdrop-filter: 10px;
}

#cb-card-boxeo-recreativo {
  background-position: -120px;
  background-size: 440px;
}

#cb-card-boxeo-avanzado-y-competición {
  background-size: 320px;
}
